*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url(./imgs/img-contatos.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

topicos {
	background-color: #FFFFCC;
}

.navbar{
	background-color: transparent;
	display: flex;
	justify-content: center;
}

.nav-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-list li{
	float: left;
}

.nav-list li a{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 10px 11px;
	margin-right: 20px;
	font-size: 23px;
	font-family: "Oswald";
}

.nav-list li a:hover{
	background-color: #111;
	font-size: 25px;
}

/*DESIGN DO DROPDOWN*/
.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown-content{
	display: none;
	position: absolute;
}

.dropdown-content a{
	float: none;
	color: black;
	display: block;
    margin-right: 0 !important;
}

.dropdown:hover .dropdown-content{
	display: block;
	background-color: #ddd;
    z-index: 999;
}

.contact-info {
    font-size: larger;
    color: white;
    float: right;
    margin-right: 10em;
    font-family: "Oswald";
    text-transform: uppercase;
	text-shadow: 4px 4px 8px black;
	text-align: justify;
	margin-top: 17em;
    margin-right: 17em;
	background-color: rgba(0, 0, 0, 0.5);
}