*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url(./imgs/apresentacao-carro.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

topicos {
	background-color: #FFFFCC;
}

.navbar{
	background-color: transparent;
	display: flex;
	justify-content: center;
}

.nav-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-list li{
	float: left;
}

.nav-list li a{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 10px 11px;
	margin-right: 20px;
	font-size: 23px;
	font-family: "Oswald";
}

.nav-list li a:hover{
	background-color: #111;
	font-size: 25px;
}

.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown-content{
	display: none;
	position: absolute;
}

.dropdown-content a{
	float: none;
	color: black;
	display: block;
	margin-right: 0 !important;

}

.dropdown:hover .dropdown-content{
	display: block;
	background-color: #ddd;
	z-index: 999;
}


p{
	text-transform: uppercase;
	text-shadow: 4px 4px 8px black;
	letter-spacing: .5em;
	display: inline-block;
	border-bottom: 4px double white;
	border-width: 4px 0;
	padding: 1.5em 0em;
	color: white;
	text-align: center;
	position: absolute;
	width: 40em;
	top: 30%;
	left: 50%;
	margin: 0 0 0 -20em;
}
p .span{
	font: 700 4em "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);
	border-top: 4px double white;

  	background: url("animated-text-fill.png") repeat-y;
	-webkit-background-clip: text;
    background-clip: text;

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

footer {
	background-color: transparent;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
}

.icons-footer {
	text-decoration: none;
}
